<p>您好， <%= @resource.email %>!</p>

<p>您可以点击以下链接进行密码修改：</p>

<p><%= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您没有申请修改密码，请忽略该邮件。</p>
<p>您只有点击以上链接并创建新的密码，密码修改才能完成。</p>
